POSTGRES_URL="postgres://postgres.molrjroewztjwyiksluz:E0n3bU3BSOyNcp9s@aws-0-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
POSTGRES_PRISMA_URL="postgres://postgres.molrjroewztjwyiksluz:E0n3bU3BSOyNcp9s@aws-0-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
SUPABASE_URL="https://molrjroewztjwyiksluz.supabase.co"
NEXT_PUBLIC_SUPABASE_URL="https://molrjroewztjwyiksluz.supabase.co"
POSTGRES_URL_NON_POOLING="postgres://postgres.molrjroewztjwyiksluz:E0n3bU3BSOyNcp9s@aws-0-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require"
SUPABASE_JWT_SECRET="KJ5FwSa7/9GUVVd4MWxLPFaNoe2OAcpgPQnVQHVFjhTFb4Sem0rv2+1UkOmzKPSOLzYK+zJaErcPftGT/Vwu6A=="
POSTGRES_USER="postgres"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1vbHJqcm9ld3p0and5aWtzbHV6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mzg4NjQyMTAsImV4cCI6MjA1NDQ0MDIxMH0.QR1F-o0aft8qXmK9Zr8p_2egMCglcJ5H2JUkV5SPkZM"
POSTGRES_PASSWORD="E0n3bU3BSOyNcp9s"
POSTGRES_DATABASE="postgres"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1vbHJqcm9ld3p0and5aWtzbHV6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTczODg2NDIxMCwiZXhwIjoyMDU0NDQwMjEwfQ.UTcaBnzmqvP_7wtP1l3G9wPIRBj7N36kpBp8WW8prC4"
POSTGRES_HOST="db.molrjroewztjwyiksluz.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1vbHJqcm9ld3p0and5aWtzbHV6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mzg4NjQyMTAsImV4cCI6MjA1NDQ0MDIxMH0.QR1F-o0aft8qXmK9Zr8p_2egMCglcJ5H2JUkV5SPkZM"